<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Newsreader&display=swap" rel="stylesheet" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
</head>

<body>
    <div class="v1_123">
        <div class="v1_124"><span class="v1_125">To Watch Item 1</span><span class="v1_126">Due on 10th,
                March</span><span class="v1_127">10 days left</span>
            <div class="v1_197"><span class="v1_198">To Watch ICON</span></div>
            <div class="v3_13"><span class="v3_14">San Juan Capistrano, CA</span>
                <div class="v3_15">
                    <div class="v3_16"></div>
                    <div class="v3_17"></div>
                </div>
            </div>
            <div class="v4_9"><span class="v4_10">Item description.</span></div>
            <div class="v54_17"><span class="v54_18">Complete</span></div>
            <div class="v54_19"><span class="v54_20">Remove</span></div>
        </div>
        <div class="v1_199"><span class="v1_200">To Eat Item 1</span><span class="v1_201">Due on 15th, March</span><span
                class="v1_202">15 days left</span>
            <div class="v1_211"><span class="v1_212">To Eat ICON</span></div>
            <div class="v3_8"><span class="v3_9">San Juan Capistrano, CA</span>
                <div class="v3_10">
                    <div class="v3_11"></div>
                    <div class="v3_12"></div>
                </div>
            </div>
            <div class="v4_2"><span class="v4_3">Item description.</span></div>
            <div class="v54_21"><span class="v54_22">Complete</span></div>
            <div class="v54_23"><span class="v54_24">Remove</span></div>
        </div>
        <div class="v1_227"><span class="v1_228">To Read Item 1</span>
            <div class="v4_7"><span class="v4_8">Item description.</span></div><span class="v1_229">Due on 20th,
                March</span><span class="v1_230">20 days left</span>
            <div class="v3_18"><span class="v3_19">San Juan Capistrano, CA</span>
                <div class="v3_20">
                    <div class="v3_21"></div>
                    <div class="v3_22"></div>
                </div>
            </div>
            <div class="v1_239"><span class="v1_240">To Read ICON</span></div>
            <div class="v54_25"><span class="v54_26">Complete</span></div>
            <div class="v54_27"><span class="v54_28">Remove</span></div>
        </div>
        <div class="v1_177"><span class="v1_178">3 items</span><span class="v1_179">TODO</span>
            <div class="name"></div>
        </div>
        <div class="v1_181">
            <div class="v1_187"><span class="v1_182">LOGO</span></div><span class="v1_184">Features</span><span
                class="v1_186">Welcome, USERNAME</span>
        </div>
        <div class="v54_2">
            <div class="v54_12"><span class="v54_13">Add new TODO</span>
                <div class="v54_14">
                    <div class="v54_15"></div>
                    <div class="v54_16"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>