<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <span>LOGO</span>
        </div>
        <span id="user_welcome">Welcome, USERNAME</span>
    </header>
    <main>
        <div class="title">
            <span class="title_name">TODO</span>
            <span class="title_count">3 items</span>
        </div>
        <div class="item">
            <div class="item_icon">
                <span class="material-symbols-outlined">
                    live_tv
                </span>
            </div>
            <div class="item_content">
                <span class="item_title">To Watch Item 1</span>
                <span class="item_countdown">10 days left</span>
                <span class="item_description">Item description.</span>
            </div>
            <div class="item_control">
                <span class="item_due">Due on 10th, March</span>
                <div class="item_location">
                    <span>San Juan Capistrano, CA</span>
                </div>
                <div class="item_buttons">
                    <button class="buton_complete">
                        <span>Complete</span>
                    </button>
                    <button class="button_remove">
                        <span>Remove</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item_icon">
                <span>To Watch ICON</span>
            </div>
            <div class="item_content">
                <span class="item_title">To Watch Item 1</span>
                <span class="item_countdown">10 days left</span>
                <span class="item_discription">Item description.</span>
            </div>
            <div class="item_control">
                <span class="item_due">Due on 10th, March</span>
                <div class="item_location">
                    <span>San Juan Capistrano, CA</span>
                </div>
                <div class="item_buttons">
                    <button class="buton_complete">
                        <span>Complete</span>
                    </button>
                    <button class="button_remove">
                        <span>Remove</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item_icon">
                <img src="../public/images/live_tv_FILL0_wght400_GRAD0_opsz24.png">
            </div>
            <div class="item_content">
                <span class="item_title">To Watch Item 1</span>
                <span class="item_countdown">10 days left</span>
                <span class="item_discription">Item description.</span>
            </div>
            <div class="item_control">
                <span class="item_due">Due on 10th, March</span>
                <div class="item_location">
                    <span>San Juan Capistrano, CA</span>
                </div>
                <div class="item_buttons">
                    <button class="buton_complete">
                        <span>Complete</span>
                    </button>
                    <button class="button_remove">
                        <span>Remove</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="v54_2">
            <div class="v54_12"><span class="v54_13">Add new TODO</span>
                <div class="v54_14">
                    <div class="v54_15"></div>
                    <div class="v54_16"></div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>