body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: medium;

  background: rgb(163, 208, 219);
  background: linear-gradient(227deg,
      rgba(163, 208, 219, 1) 0%,
      rgba(163, 176, 219, 1) 20%,
      rgba(163, 173, 219, 1) 34%,
      rgba(163, 219, 208, 1) 59%,
      rgba(163, 208, 219, 1) 74%,
      rgba(163, 208, 219, 1) 100%);
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1%;

  .logo {
    background: #66A034;
    padding: 0.3%;
    border-radius: 15%;
    margin-left: 3%;

    span {
      color: white;
    }
  }

  #user_welcome {
    margin-right: 3%;
  }
}

main {
  display: flex;
  flex-flow: column;
  width: 80%;

  .title {
    border-bottom: 1px solid #E6E6E6;

    .title_name {
      font-size: xx-large;
    }
  }

  .completed_items {
    opacity: 0.5;
  }

  .item {
    background: #FAFAF5;
    border: 1px solid #E6E6E6;
    border-radius: 5%;
    padding: 1%;
    margin: 1%;
    display: flex;
    justify-content: space-between;

    .item_icon {
      .material-symbols-outlined {
        font-size: xxx-large;
      }
    }

    .item_title {
      font-size: larger;
      font-weight: bold;
    }

    .item_description {
      color: #6D6D6D;

      .material-symbols-outlined {
        font-size: small;
      }
    }

    .item_content {
      display: flex;
      flex-flow: column;
      align-items: center;

      .item_countdown {
        font-weight: bold;
        color: #66A034;
      }

      .item_countdown_past {
        color: #6B1F1F;
      }
    }

    .item_control {
      display: flex;
      flex-flow: column;
      align-items: flex-end;
    }
  }
}

.small_button {
  border-radius: 40%;
  color: white;
}

.small_button_confirm {
  background: #426B1F;
}

.small_button_cancel {
  background: #6B1F1F;
}

.add_new_todo {
  display: flex;
  justify-content: center;
}

.large_button {
  width: 50%;
  background: #426B1F;
  color: white;
  border-radius: 20%;
}

dialog {
  .dialog_header {
    font-size: small;
  }

  .dialog_icons {
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
  }

  .dialog_item {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;

    .material-symbols-outlined {
      font-size: small;
    }
  }

  .dialog_buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
  }
}

::backdrop {
  background-image: linear-gradient(45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green);
  opacity: 0.75;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}